:host {
  container-type: inline-size;
  display: block;
}

header {
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  margin-bottom: 20px;

  @container (width < 450px) {
    flex-direction: column;
  }
}

.header__inception {
  gap: 14px;
}

.header__select-on-change {
  opacity: 0.6;
  font-size: 12px;
  gap: 6px;
  scale: 1;

  &:hover, &:has(input[type='checkbox']:focus-visible) {
    opacity: 1;
    scale: 1.02;
  }
}
